In [2]:
#Importamos la librería: pandas
import pandas as pd 
import io 
#Cargamos nuestra base de datos 
df = pd.read_excel('Inmuebles.xlsx') 
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Referencia    3337 non-null   int64
 1   Fecha Alta    3337 non-null   datetime64[ns]
 2   Tipo          3337 non-null   object
 3   Operación     3337 non-null   object
 4   Provincia     3337 non-null   object
 5   Superficie    3337 non-null   int64
 6   Precio Venta  3337 non-null   int64
 7   Fecha Venta   2759 non-null   datetime64[ns]
 8   Vendedor      2759 non-null   object
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 234.8+ KB

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
0,1,2004-01-01,Parking,Alquiler,Lleida,291,2133903,2004-06-19,Carmen
1,2,2004-01-01,Local,Venta,Girona,199,1945424,2004-04-19,Pedro
2,3,2004-01-01,Oficina,Alquiler,Girona,82,712416,2004-11-08,Joaquín
3,4,2004-01-02,Parking,Alquiler,Girona,285,1815450,2004-04-27,Jesús
4,5,2004-01-02,Suelo,Venta,Tarragona,152,1138024,2004-07-10,María
...,...,...,...,...,...,...,...,...,...
3332,3333,2007-04-29,Industrial,Alquiler,Lleida,221,1450644,NaT,NaN
3333,3334,2007-04-29,Piso,Alquiler,Girona,55,454080,NaT,NaN
3334,3335,2007-04-30,Suelo,Venta,Tarragona,78,740688,NaT,NaN
3335,3336,2007-04-30,Piso,Alquiler,Barcelona,88,397408,NaT,NaN
3336,3337,2007-04-30,Parking,Venta,Lleida,254,2140712,NaT,NaN

# Filtro 1

In [ ]:
#Filtro 1
#Filtro para variables cualitativas
#Exploremos las ventas realizadas por Carmen 
f1=df[df["Vendedor"] == "Carmen"]
f1

In [4]:
#Convertirmos el archivo filtrado a CSV
f1.to_csv("Filtro1.csv")

# Filtro 2

In [6]:
#Filtro 2
#Filtro por filas
#Seleccionemos las entradas de la fila 1000 a la 2000
f2= df.iloc[1000:2000,: ] #Filtro para filas consecutivas 
f2

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta,Vendedor
1000,1001,2004-12-25,Local,Venta,Barcelona,250,1368750,2005-06-07,Luisa
1001,1002,2004-12-25,Piso,Alquiler,Barcelona,292,2677056,2005-07-22,María
1002,1003,2004-12-25,Parking,Venta,Tarragona,87,638058,2005-07-19,Jesús
1003,1004,2004-12-26,Piso,Venta,Lleida,95,866780,2005-04-15,Jesús
1004,1005,2004-12-26,Oficina,Alquiler,Girona,159,1437360,2005-06-12,Luisa
...,...,...,...,...,...,...,...,...,...
1995,1996,2005-12-23,Industrial,Venta,Tarragona,178,1642584,2006-12-18,Luisa
1996,1997,2005-12-23,Casa,Venta,Tarragona,206,1058840,2006-04-02,Jesús
1997,1998,2005-12-24,Local,Venta,Tarragona,264,2303928,2006-04-17,Luisa
1998,1999,2005-12-24,Piso,Venta,Tarragona,243,1693710,2006-05-23,Pedro
1999,2000,2005-12-25,Oficina,Venta,Tarragona,96,456672,2006-07-01,Pedro

In [7]:
#Convertirmos el archivo filtrado a CSV
f2.to_csv("Filtro2.csv")