In [15]:
#Importamos la librería: pandas
import pandas as pd 
import io 
#Cargamos nuestra base de datos 
df = pd.read_excel('Inmuebles.xlsx', index_col=8 ) 
#df = pd.read_excel(io.BytesIO(uploaded['Inmuebles.xlsx']), index_col=2) 
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 3337 entries, Carmen to nan
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Referencia    3337 non-null   int64
 1   Fecha Alta    3337 non-null   datetime64[ns]
 2   Tipo          3337 non-null   object
 3   Operación     3337 non-null   object
 4   Provincia     3337 non-null   object
 5   Superficie    3337 non-null   int64
 6   Precio Venta  3337 non-null   int64
 7   Fecha Venta   2759 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 234.6+ KB

,Referencia,Fecha Alta,Tipo,Operación,Provincia,Superficie,Precio Venta,Fecha Venta
Vendedor,,,,,,,,
Carmen,1,2004-01-01,Parking,Alquiler,Lleida,291,2133903,2004-06-19
Pedro,2,2004-01-01,Local,Venta,Girona,199,1945424,2004-04-19
Joaquín,3,2004-01-01,Oficina,Alquiler,Girona,82,712416,2004-11-08
Jesús,4,2004-01-02,Parking,Alquiler,Girona,285,1815450,2004-04-27
María,5,2004-01-02,Suelo,Venta,Tarragona,152,1138024,2004-07-10
...,...,...,...,...,...,...,...,...
NaN,3333,2007-04-29,Industrial,Alquiler,Lleida,221,1450644,NaT
NaN,3334,2007-04-29,Piso,Alquiler,Girona,55,454080,NaT
NaN,3335,2007-04-30,Suelo,Venta,Tarragona,78,740688,NaT
NaN,3336,2007-04-30,Piso,Alquiler,Barcelona,88,397408,NaT
NaN,3337,2007-04-30,Parking,Venta,Lleida,254,2140712,NaT

# Filtro 1

In [ ]:
#Filtro 1
#Filtro para variables cualitativas
#Exploremos las ventas realizadas por Carmen 
f1=df[df["Vendedor"] == "Carmen"]
f1

In [4]:
#Convertirmos el archivo filtrado a CSV
f1.to_csv("Filtro1.csv")

# Filtro 2

In [ ]:
#Filtro 2
#Filtro por filas
#Seleccionemos las entradas de la fila 1000 a la 2000
f2= df.iloc[1000:2000,: ] #Filtro para filas consecutivas 
f2

In [7]:
#Convertirmos el archivo filtrado a CSV
f2.to_csv("Filtro2.csv")

# Filtro 3

In [ ]:
#Filtro 3
#Filtro por columnas
#Obtengamos las columnas 4,7 y 9 para una análisis de ventas
f3=df.iloc[ : , [8,6,3]]  #columnas no consecutivas 
f3

In [11]:
#Convertirmos el archivo filtrado a CSV
f3.to_csv("Filtro3.csv")

# Filtro 4

In [ ]:
#Fitro 4
#Filtro de filas vs columnas 
#Definimos la columna de Vendedor como índice y la relacionamos con la de Precio Venta
f4=df.loc[["Carmen","Joaquín"], ["Precio Venta"]]
f4

In [20]:
#Convertirmos el archivo filtrado a CSV
f4.to_csv("Filtro4.csv")

# Filtro 5

In [ ]:
#Filtro 5
#Filtro por cabecera
#Obtenemos la cabecera de nuestra base de datos
f5=df.head()
f5

In [22]:
#Convertirmos el archivo filtrado a CSV
f5.to_csv("Filtro5.csv")

# Filtro 6

In [ ]:
#Filtro 6
#Filtros básicos para variables cuantitativas
# Filtro por comparación 
#Filtremos para obtener los registros de la columna Precio Venta mayores a 2 millones
f6=df[df["Precio Venta"] > 2000000]
f6

In [25]:
#Convertirmos el archivo filtrado a CSV
f6.to_csv("Filtro6.csv")